
* {
    font-family: Arial, Helvetica, sans-serif;
}


.container-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.card {
    min-width: 300px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.text-primary {
    color: rgb(255, 145, 0);
}